@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}



/* Animated Gradient */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient-animation 6s ease infinite;
}

/* Floating Animation for Circles */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.animate-float {
    animation: float 5s ease-in-out infinite;
}

